:root {

    /* Primary */
    /* Text */
    --clr-VeryDarkDesaturatedBlue: hsl(238, 29%, 16%);
    --clr-SoftRed: hsl(14, 88%, 65%);

    /* Gradient
    Background gradient */
    --clr-SoftViolet: hsl(273, 75%, 66%);
    --clr-SoftBlue: hsl(240, 73%, 65%);

    /* Neutral */
    /* Text */
    --clr-VeryDarkGrayishBlue: hsl(237, 12%, 33%);
    --clr-DarkGrayishBlue: hsl(240, 6%, 50%);

    /* Dividers */
    --clr-LightGrayishBlue: hsl(240, 5%, 91%);


    /* Typography */
    /* Font size: 12px */
    --root: 12px;

}

* {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
}

body {
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "YOPQ" 300;
    background: linear-gradient(var(--clr-SoftViolet), var(--clr-SoftBlue));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container {
    width: 90%;
    max-width: 68.75rem;
    margin: auto;

}

.main-card {
    display: flex;
    padding-top: 3.75rem;
    /*60px*/
    padding-right: 5.625;
    /*90px*/
    border-radius: 20px;
    box-shadow: 0px 15px 27px 0px rgba(0, 0, 0, 0.75);
    background-color: white;
    position: relative;

}

.illustration-section,
.faq-section {
    flex: 1;
    min-height: 27.5rem;
    /*440px*/
}



.desktop {
    width: 100%;
    height: 100%;
}

.illustration-section .mobile {
    display: none !important;
}

.illustration-box {
    position: absolute;
    top: 43%;
    left: -9%;
    z-index: 10;
    transform: scale(0.75);
    object-fit: contain;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.illustration-woman,
.bg-pattern-desktop {
    width: 80%;
    height: 80%;
    object-fit: contain;
    position: absolute;
    top: 8%;
    left: -15%;
    z-index: 5;
}

.bg-pattern-desktop {
    top: 13%;
    left: -13%;
}


.faq-section h2 {
    font-size: 2rem;
    padding-bottom: 2.5rem;
    /*40px*/
}

.accordions-section {
    padding-bottom: 3.75rem;
    /*60px*/
    padding-right: 2.5rem;
    /*40px*/
}


.accordion-title h3 {
    font-size: 1rem;
    /*16px*/
    color: var(--clr-VeryDarkGrayishBlue);
    position: relative;
    padding-block: 0.938rem;
    /*15px*/
    cursor: pointer;
    border-bottom: 2px solid var(--clr-LightGrayishBlue);
    transition: all 0.5s ease;
}

.accordion-title h3:hover {
    color: var(--clr-SoftRed);
}


.accordion-title {
    position: relative;

}

.accordion-title img {
    position: absolute;
    top: 44%;
    right: 6%;
    transition: transform 0.4s ease;
}

.accordion-title img.active {
    transform: rotate(180deg);
}



.accordion p {
    font-size: 0.875rem;
    /*14px*/
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s ease;


}

.accordion p.active {
    padding-block: 0.938rem;
    /*15px*/
    max-height: 12.5rem;
    /*200px*/

}



@media (max-width: 1050px) {

    .illustration-woman,
    .bg-pattern-desktop {
        left: -9%;

    }

    .illustration-box {
        left: -11%;
        transform: scale(0.6);
    }
}



/* Mobile */
@media (max-width: 850px) {

    .container {
        max-width: 40.625rem;
        /*650px*/
        margin-top: 9.375rem;
        /*150px*/
    }

    .main-card {
        display: flex;
        flex-direction: column;
        padding-top: 0;
        padding-bottom: 3.75rem;
        /*60px*/


    }

    .illustration-section .desktop {
        display: none !important;
    }

    .illustration-section .mobile {
        display: block !important;
    }

    .illustration-section,
    .faq-section {
        min-height: 0rem;

    }

    .faq-section h2 {
        text-align: center;
        font-size: 1.75rem;
        /*28px*/
    }

    .accordions-section {
        /*20px*/
        padding-bottom: 0;
        padding-right: 0;
    }

    .accordion {
        padding-inline: 1.25rem;

    }

    .accordion-title h3 {
        font-size: 0.906rem;
        /*14.5px*/
    }

    .mobile {
        position: relative;
        height: 9.375rem;
        /*150px*/
    }


    .illustration-woman-mobile {
        background-image: url("/images/illustration-woman-online-mobile.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        width: 70%;
        transform: scale(1.5);
        position: absolute;
        top: -60%;
        left: 15%;
    }

    .bg-pattern-mobile {
        background-image: url("/images/bg-pattern-mobile.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        height: 100%;
        width: 100%;
        top: -10%;
        left: 0%;
        transform: scale(0.9);
    }

}