:root {

    /* Primary */
    /* Text */
    --clr-VeryDarkDesaturatedBlue: hsl(238, 29%, 16%);
    --clr-SoftRed: hsl(14, 88%, 65%);

    /* Gradient
    Background gradient */
    --clr-SoftViolet: hsl(273, 75%, 66%);
    --clr-SoftBlue: hsl(240, 73%, 65%);

    /* Neutral */
    /* Text */
    --clr-VeryDarkGrayishBlue: hsl(237, 12%, 33%);
    --clr-DarkGrayishBlue: hsl(240, 6%, 50%);

    /* Dividers */
    --clr-LightGrayishBlue: hsl(240, 5%, 91%);


    /* Typography */
    /* Font size: 12px */
    --root: 12px;

}

*{
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body {
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "YOPQ" 300;
    /* background: linear-gradient(var(--clr-SoftViolet), var(--clr-SoftBlue)); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 90%;
    max-width: 1100px;
    /* min-height: 70vh;
    background-color: aqua; */
}

.main-card{
    display: flex;
    padding: 50px 80px;
    border: 2px solid black;
}

.illustration-section, .faq-section{
    flex: 1;
    height: 500px;
    /* border: 2px solid green; */
    
}

.column{
    height: inherit;
    display: flex;
    align-items: center;
    background-color: blueviolet;
}


.img-wrapper{
    position: relative;
    height: 100%;
    width: 100%;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    border: 2px solid red;
    
}



.svg{
    position: absolute;
    top: 0;
    left: 0;
}




/* .svg{
    position: absolute;
    top: 0;
    left: 0;
}

 .illustration-woman{
    left: 0px;
    height: 300px;
    width: 350px;
}

.illustration-box{
    top: 0px;
    left: 0px;
} */






/*
.illustration-box, .bg-pattern-desktop{
    position: absolute;
    max-width: 100%;
    left: 0;
}

.illustration-box{
    border: 2px solid yellow;
}

.bg-pattern-desktop{
    border: 2px solid blue;
    background-image: url("/images/bg-pattern-desktop.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: inherit;
    height: 100px;
} */

/* .bg-pattern-desktop{
    height: 500px;
}

.illustration-box{
    top: 50;
} */